.labki-pf-input {
	display: inline-flex;
	gap: 0.4em;
	align-items: center;

	input {
		font-family: inherit;
	}

	.labki-pf-date {
		width: 9em;
	}

	.labki-pf-time {
		width: 6em;
	}

	.labki-pf-tz-select {
		max-width: 16em;
	}
}
